.App {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.toolbar {
  background: #eee;
  padding: 10px;
  display: flex;
  background-color: #2c2c2c;
  z-index: 100;
}

.toolbar button {
  color: #fff !important;
  padding: 0px !important;
  margin-right: 14px !important;
}

.SplitPane {
  position: relative !important;
  height: 100%;
}

.markdown-input,
.markdown-preview {
  padding: 20px;
  height: 100%;
  overflow-y: auto;
}

.markdown-preview {
  background-color: #e8e8e8;
}

.markdown-input {
  width: 100%;
  resize: none;
  border: none;
  outline: none;
}

.markdown-preview blockquote {
  border-left: 4px solid #ccc;
  padding-left: 16px;
  color: #666;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}

.markdown-preview code {
  background: #f9f2f4;
  border-radius: 3px;
  padding: 0 0.4em;
}

.markdown-preview table {
  width: 100%;
  border-collapse: collapse;
}

.markdown-preview table,
.markdown-preview th,
.markdown-preview td {
  border: 1px solid #ddd;
}

.markdown-preview th,
.markdown-preview td {
  padding: 8px;
}

.markdown-preview tr:nth-child(even) {
  background-color: #f2f2f2;
}

.task-list-item {
  display: flex;
  align-items: center;
}

.task-list-item input[type="checkbox"] {
  margin-right: 0.5em;
}
